/* General Reset */
* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

section {
    
    padding: 20px;
    text-align: center;
}

h1{
    font-weight: 500px;
}
.committees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 16px;
    border: 2px solid;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    /* border-radius: 10px; */
    height: 120px;
    background-color: #fff;
    /* padding: 16px; */
    /* width: 100%; */
    /* object-fit: cover; */
}

.title {
    color: #000;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;

    font-weight: 400;
font-size: 25px;
line-height: 40px;
letter-spacing: 0%;
font-variant: unset;
/* font-variant: initial; */
}

.popup {
    /* padding: 6rem; */
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: #333333b0;
    /* background: rgba(0, 0, 0, 0.8);  */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popup-content {
    background: white;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
    width: 80%; 
    max-width: 600px; 
    text-align: center;
    position: relative;
}


.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white; 
    background-color: red; 
    border: none;
    padding: 0px 4px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.close:hover {
    background-color: darkred;
    color: #fff;
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36BBE4;
    background-color: none;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.popup-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.popup-body {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 0 0 10px 10px;
}

.popup-body div {
    background: #7D8693;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.popup-skills {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 8px;
    padding-bottom: 5px;
    border-radius:0 0px 10px 10px;
}

.skill-ball {
    background-color: #36BBE4;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}



@media (max-width: 768px) {
    .committees {
        flex-direction: row;
        align-items: center;
    }
    .card {
        width: 90%;
        max-width: 250px;
    }
    .popup-body {
        max-width: 100%;
        padding: 10px;
        /* height: 80%; */
    }
    .skill-ball {
        width: 60px;
        height: 60px;
        font-size: 10px;
        padding: 8px;
    }
    .popup-content{
        height:70vh;
    }
}

@media (max-width: 480px) {
    .popup-header {
        flex-direction: column;
        text-align: center;
    }
    .popup-header img {
        width: 40px;
        height: 40px;
    }
    .popup-body {
        padding: 5px;
        /* background-color: red; */
    }
    .popup-body div{
        height: 80px;
        font-size: .8rem;
    }
    .skill-ball {
        width: 50px;
        height: 50px;
        font-size: 8px;
    }
    .popup{
        width: 100%;
    }
    .popup-content{
      top: 0;
      width: 80%;  
      height: 85vh;
      /* background-color: green; */
    }
}
