/* From Uiverse.io by IWhat1 */ 

        h2{
            /* color: #fff; */
            font-family: "Rubik Doodle Shadow", serif;
            color: #fff;
            margin: 8px;
        }
        h3{
            /* color: #fff; */
            /* font-family: "Rubik Doodle Shadow", serif; */
            color: #fff;
            margin: 8px;
        }
        .tit{
            display: flex;
            justify-content: center;
            margin: 30px;
            letter-spacing: 2px;
        }
        .ccontainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          z-index: 1;
          margin: 30px;
          padding: 20px;
          gap: 30px;
            /* color: #7FBA00; */
            /* perspective: 900px; */
          }
          



          .card {
            padding-top: 20px;
            width: 350px;
            height: 250px;
            border: 1px solid #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-color: rgba(230, 221, 221, 0.1);
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(233, 230, 230, 0.747);
        }
        
        .card img{
          height: 200px;
        }
        .card:hover {
            transform: scale(1.05) rotate(2deg);
            box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3), 
                0px 5px 10px rgba(255, 255, 255, 0.2) inset;
        }
        
        /* تأثير الإضاءة عند الـ Hover */
        .card::before {
            content: "";
            position: absolute;
            top: -100%;
            left: -100%;
            width: 250%;
            height: 250%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 50%);
            transition: transform 0.5s ease-in-out;
            transform: translateX(-50%) translateY(-50%);
        }
        
        .card:hover::before {
            transform: translateX(50%) translateY(50%);
        }

        @media (max-width: 480px) {
          .tit h2 {
              font-size: 22px;
          }
      
          .card {
              width: 300px;
              height: 200px;
          }
      
          .card h3 {
              font-size: 18px;
          }
      }
